# Configurações do Supabase (credenciais expostas propositalmente)
NEXT_PUBLIC_SUPABASE_URL=https://jovkblgenkjaxgpxuazj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvdmtibGdlbmtqYXhncHh1YXpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NTgwODA1NiwiZXhwIjoyMDYxMzg0MDU2fQ.QAYjJu6DMGpysW0wC2XSWWxY5gRtVMZ5f05NFPgnMng
SUPABASE_DATABASE_URL=postgresql://postgres.jovkblgenkjaxgpxuazj:5zvHz18uE99PQXk8@aws-0-sa-east-1.pooler.supabase.com:6543/postgres

NEXT_PUBLIC_APP_URL=http://localhost:3000